*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../assets/images/background.png");
  background-size: 100% 100%;
  background-attachment: fixed;
}

.container {
  position: relative;
}

#loginContainer {
  cursor: pointer;
  display: flex;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

#logoContainer {
  cursor: pointer;
  margin-left: 20px;
  width: 220px;
}

.logoImg {
  height: 30px;
  margin-top: 25px;
}

.loginImg {
  width: 25px;
  height: 25px;
}

#loginTxt {
  font-family: Proxima-Nova-Alt-Light;
  color: #fff;
  font-size: 20px;
}

#contentContainer {
  padding: 70px 0;
  text-align: center;
}

#contentContainer img {
  height: 149px;
  width: 216px;
  margin-bottom: 40px;
}

#contentContainer p {
  color: #fff;
  font-family: "Proxima-Nova-Alt-Light";
  font-size: 40px;
  margin-bottom: 30px;
}

@font-face {
  font-family: "Proxima-Nova-Alt-Light";
  src: url("../assets/fonts/ProximaNovaA-Light/ProximaNova-Light.woff")
      format("woff"),
    url("../assets/fonts/ProximaNovaA-Light/ProximaNova-Light.ttf")
      format("opentype");
}

.pollBtn {
  cursor: pointer;
  font-family: "Proxima-Nova-Alt-Light";
  background: transparent;
  border-radius: 25px;
  text-align: center;
  padding: 10px;
  width: 180px;
  font-size: 20px;
  color: white;
  border: 2px solid white;
}

.pollBtn:hover {
  background: #fff;
  border: 0;
  color: #1e87f0;
}

#signinContainer {
  background: #fff;
  display: none;
  position: absolute;
  top: 20%;
  left: 30%;
  padding: 40px 50px;
}

.or-div p {
  border-radius: 20px;
  color: white;
  display: inline-block;
  padding: 6px 10px;
  background: #007acc;
}

.or-div {
  text-align: center;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
}
.or-div:after {
  position: absolute;
  display: block;
  height: 1px;
  background-color: grey;
  content: "";
  top: 16px;
  z-index: -1;
  left: -40px;
  right: -40px;
}

#loginBtn {
  border-radius: 0;
  width: 100%;
  background: #007acc;
  color: white;
}

#signup-tab {
  display: none;
}

.nav-link {
  cursor: pointer;
}

.form-group {
  margin-top: 20px;
}

@media only screen and (max-width: 1000px) {
  body {
    background-size: cover;
  }
  #contentContainer p {
    font-size: 30px;
  }
  #contentContainer img {
    margin-top: 40px;
    height: 90px;
    width: 140px;
  }
  #signinContainer {
    left: 5%;
    top: 10%;
    padding: 20px;
  }
}
