#hamburgerDropDown {
  display: none;
}

#nav-placeholder {
  background: #208cf1;
  height: 74px;
}

#logoContainer {
  cursor: pointer;
  margin-left: 79px;
  width: 220px;
}

#loginContainer {
  cursor: pointer;
  display: flex;
  float: right;
  margin-top: 21px;
  margin-right: 83px;
}

#loginContainer a {
  text-decoration: none;
}

#loginContainer a {
  font-family: Proxima-Nova-Alt-Light;
  color: #fff;
  font-size: 23px;
}

.dropdown-item {
  font-family: Proxima-Nova-Alt-Light;
  color: #fff;
  font-size: 20px;
}

.logoImg {
  height: 20px;
  margin-top: 25px;
}

.loginImg {
  width: 30px;
  height: 30px;
  margin-top: -3px;
}

#nav-dropdown {
  margin-top: 20px;
  background: #208cf1;
}

#nav-dropdown a {
  font-family: Proxima-Nova-Alt-Light;
  color: #fff;
  align-items: center;
  font-size: 18px;
  list-style: none;
}

#nav-dropdown a:hover {
  color: #208cf1;
}

.modal {
  text-align: center;
  margin-top: 50px;
}

.modal::before {
  content: "";
  display: inline-block;
  height: 80%;
  margin-right: -4px;
  vertical-align: middle;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

@media only screen and (max-width: 1000px) {
  #hamburgerDropDown {
    display: block;
  }
  #navbarDropdown {
    display: none;
  }
  #loginContainer {
    margin-top: 16px;
    margin-right: 20px;
  }
  #logoContainer {
    margin-left: 20px;
  }
}
